#banner
	.banner_content
		%h1 Noted
		%p Store your notes online. Even the best forget!
		%button= link_to "Sign Up", new_user_registration_path
#testimonial
	.wrapper
		%p.quote "The online app that let's you store your notes in style!"
		%p.name - Craig Sapsford
#callouts
	.callout_inner
		.wrapper
			.callout
				%i.fa.fa-pencil
				%h2 Online Notes
				%p Store all your plans, ideas, reminders and to do lists online with this fantastic online notebook application.

			.callout
				%i.fa.fa-thumbs-up
				%h2 Easy
				%p With the simple, easy to use interface, you will have no problems planning you way through each week.

			.callout
				%i.fa.fa-lock
				%h2 Safe
				%p All your notes will be locked to your account, so only you can see them.
#bottom_cta
	.wrapper
		%h2 START MAKING NOTES TODAY!
		%p Because an elephant never forgets.
		%button= link_to "Be An Elephant, Get Your Notes Noted!", new_user_registration_path

%footer
	%p= link_to "Craig Sapsford Web Services", url = "http://www.craigsapsford.com"